$site-green : #6B7E6C;
$site-faded-green : #7E847F ;
$site-maroon : #613B40;
$site-dark : #000000;
$site-gray : #BEBEBE;
$site-white : #FFFFFF;

$mainFont : 'Montserrat', sans-serif;
$letter-spacing : 0.16rem;
$letter-height : 2; 

$screen-mid: 600px;
$screen-small: 350px;

$image-height :400px;
$image-half-height: 200px;


body{
    font-family: $mainFont;

    .underline{
        border-bottom: 5px solid $site-green;
    }
}


#nav-bar{
    background-color: $site-green;
    color: $site-white;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;

    text-align: left;
    letter-spacing: $letter-spacing;
    line-height: $letter-height;
    font-size: 0.7rem;

    h3{
        padding-left: 50px;
        width: max-content;
    }
    h3:hover{
        cursor: pointer;
    }

    .nav-banner{

        text-align: center;
        h1{
            color: $site-white;
            position: absolute;
            top: 180px;
            width: 100%;
            opacity: 1 !important;
        }
        .nav-image{ 

            background-image: url('../site_images/banner-img.jpg');
            background-size: 100%;
            background-position-y: bottom;
            
            height: $image-height;


        }
        .nav-image-overlay{
            position: relative;
            top : 0;
            background-color: #000000;
            height: $image-height;
            opacity: 0.5;

        }
    }

}
.content-header{
    position: absolute;
    width: 100%;
    top: $image-height + 75;
    text-align: center;

    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: $letter-spacing;
    line-height: $letter-height;

    span{
        padding-bottom: 10px;
    }
}
#content{
    position: absolute;
    top: $image-height + 80;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 60px;

    text-align: center;

}

@media screen and (max-width: 600px){

    #nav-bar{
        .nav-banner{
            h1{
                top: 90px;
            }
            .nav-image{
                height:$image-half-height;
            }
            .nav-image-overlay{
                height:$image-half-height;
            }
        }
    }
    .content-header{
        top: $image-half-height + 50;
    }
    #content{
        top: $image-half-height + 80
    }
}