$site-green : rgb(71, 116, 71);
$site-shadow : rgb(70, 82, 70);
$mainFont : 'Montserrat', sans-serif;

#nav-bar{
    background-color: $site-green;
    color: white;

    position: absolute;
    top: -20px;
    left: 0;

    text-align: left;

    width: 100%;
    padding-top: 20px;

    box-shadow: 0px 5px 5px $site-shadow;

    #nav-icon{
        fill: white;
        width:40px;

        float: left;

        padding: 10px;
    }
    h3{
        font-family: $mainFont;

        position: absolute;
        padding-left: 70px;

        span{
            color: rgba(255, 255, 255, 0.671);
        }
    }
    .admin-btn{
        margin-top: 15px;
        margin-right: 15px;
        float: right;
    }
    #admin-form{
        display: none;
        position: absolute;
        right: 0;
        top: 80px;
        background-color: $site-green; 

        border: 2px solid $site-shadow;

        text-align: center;
    }
}
#content{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 60px;

    font-family: $mainFont;
    text-align: center;

    .image-card{
        padding: 10px 10px;
        margin: 5px 5px;
        border: 2px solid gray;
        border-radius: 10px;

        box-shadow: 1px 3px 2px gray, -1px 0px 2px gray;

        h2{
            font-size: 16pt;
        } 
        .card-image{
            border-style: none;
            border-radius: 10px;
        }
        .card-options{
            padding-top: 10px;
            border-top: 2px solid gray;
            width: 100%;

            button{
                border: 1px solid green($color: #000000);
            }
        }
    }
}