body {
  font-family: "Montserrat", sans-serif;
}

body .underline {
  border-bottom: 5px solid #6B7E6C;
}

#nav-bar {
  background-color: #6B7E6C;
  color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: left;
  letter-spacing: 0.3rem;
  line-height: 2;
  font-size: 0.7rem;
}

#nav-bar h3 {
  letter-spacing: 0.15rem;
  padding-left: 50px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

#nav-bar h3:hover {
  cursor: pointer;
}

#nav-bar .login-form {
  display: none;
}

#nav-bar .nav-banner {
  text-align: center;
}

#nav-bar .nav-banner h1 {
  color: #FFFFFF;
  position: absolute;
  top: 180px;
  width: 100%;
  opacity: 1 !important;
  font-size: 3.2em;
}

#nav-bar .nav-banner .nav-image {
  background-image: url("../site_images/banner-img.jpg");
  background-size: 100%;
  background-position-y: bottom;
  height: 400px;
}

#nav-bar .nav-banner .nav-image-overlay {
  position: relative;
  top: 0;
  background-color: #000000;
  height: 400px;
  opacity: 0.5;
}

.content-header {
  position: absolute;
  width: 100%;
  top: 475px;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
  line-height: 2;
}

.content-header span {
  padding-bottom: 10px;
}

#content {
  position: absolute;
  top: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 60px;
  text-align: center;
}

#content .image-card {
  background-color: #BEBEBE;
  margin: 15px;
  padding: 10px 10px 0px 10px;
}

#content .image-card .image-container {
  position: relative;
}

#content .image-card .card-date {
  font-weight: 1000;
  letter-spacing: 0.3rem;
}

#content .image-card .card-title {
  z-index: 2;
  color: #FFFFFF;
  position: absolute;
  top: 75px;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  letter-spacing: 0.3rem;
}

#content .image-card .image-card-overlay {
  z-index: 1;
  position: absolute;
  width: 300px;
  height: 300px;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: #000000;
}

#content .image-card:hover .card-title {
  opacity: 1;
}

#content .image-card:hover .image-card-overlay {
  opacity: 0.7;
}

#admin-overlay {
  display: none;
  z-index: 3;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: #000000;
}

#admin-form {
  z-index: 4;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#admin-form #login-form {
  z-index: 4;
  background-color: #6B7E6C;
  opacity: 1 !important;
  text-align: center;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  margin-top: 52px;
  padding: 20px 10px 0px 10px;
  height: 25%;
  color: #FFFFFF;
}

#admin-form #admin-options {
  z-index: 4;
  background-color: #6B7E6C;
  opacity: 1 !important;
  text-align: center;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  margin-top: 52px;
  padding: 20px 10px 0px 10px;
  height: 25%;
  color: #FFFFFF;
}

#image-expanded {
  z-index: 5;
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#image-expanded .image-expanded-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #000000;
}

#image-expanded .expanded-container {
  z-index: 6;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  height: 90%;
  width: 90%;
  top: 5%;
  bottom: 5%;
  background-color: #6B7E6C;
  color: white;
}

#image-expanded .expanded-container .image-container {
  position: relative;
  margin: .5%;
  height: 98%;
  width: 175%;
  background-color: #000000;
}

#image-expanded .expanded-container .image-container .image-container-image {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
}

#image-expanded .expanded-container .comments-container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: scroll;
  padding-right: 0;
}

#image-expanded .expanded-container .comments-container #exit-btn {
  position: fixed;
  right: 5.7%;
  padding-right: 2px;
  margin-top: 0;
  padding-top: 5px;
  font-size: .75em;
}

#image-expanded .expanded-container .comments-container #exit-btn:hover {
  cursor: pointer;
}

#image-expanded .expanded-container .comments-container #add-comment-btn {
  position: fixed;
  padding-left: 4px;
  margin-top: 0;
  padding-top: 5px;
  font-size: .75em;
}

#image-expanded .expanded-container .comments-container #add-comment-btn:hover {
  cursor: pointer;
}

#image-expanded .expanded-container .comments-container .comment-msg {
  border-top: 1px solid #7E847F;
  border-bottom: 1px solid #7E847F;
}

#image-expanded .expanded-container .comments-container .comment-msg h4 {
  position: relative;
  top: 0;
}

#image-expanded .expanded-container .comments-container .comment-msg .comment-user {
  position: relative;
  left: -32%;
  margin: 0;
}

#image-expanded .expanded-container .comments-container .comment-msg .comment-date {
  font-size: .6em;
  position: relative;
  right: -34%;
}

@media screen and (max-width: 380px) {
  #nav-bar .nav-banner h1 {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 600px) {
  #nav-bar .nav-banner h1 {
    top: 50px;
  }
  #nav-bar .nav-banner .nav-image {
    height: 200px;
  }
  #nav-bar .nav-banner .nav-image-overlay {
    height: 200px;
  }
  .content-header {
    top: 270px;
  }
  #content {
    top: 280px;
  }
  #image-expanded .expanded-container {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    overflow: visible;
  }
  #image-expanded .expanded-container .image-container {
    width: 100%;
    height: 80%;
  }
  #image-expanded .expanded-container .comments-container {
    overflow: visible;
  }
  #image-expanded .expanded-container .comments-container #add-comment-btn {
    position: absolute;
  }
  #image-expanded .expanded-container .comments-container #exit-btn {
    position: absolute;
  }
  #image-expanded .expanded-container .comments-container .comment-msg {
    background-color: #6B7E6C;
  }
}
/*# sourceMappingURL=styles.css.map */